CREATE DATABASE test11
GO
USE [test11]
GO
/****** Object:  Table [dbo].[Material_type_import]    Script Date: 05.05.2025 13:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type_import](
	[Тип_материала] [nvarchar](50) NOT NULL,
	[Процент_брака_материала] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products_import]    Script Date: 05.05.2025 13:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products_import](
	[Продукция] [nvarchar](100) NOT NULL,
	[Наименование_партнера] [nvarchar](50) NOT NULL,
	[Количество_продукции] [int] NOT NULL,
	[Дата_продажи] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners_import]    Script Date: 05.05.2025 13:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners_import](
	[Тип_партнера] [nvarchar](50) NOT NULL,
	[Наименование_партнера] [nvarchar](50) NOT NULL,
	[Директор] [nvarchar](50) NOT NULL,
	[Электронная_почта_партнера] [nvarchar](50) NOT NULL,
	[Телефон_партнера] [nvarchar](50) NOT NULL,
	[Юридический_адрес_партнера] [nvarchar](100) NOT NULL,
	[ИНН] [bigint] NOT NULL,
	[Рейтинг] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type_import]    Script Date: 05.05.2025 13:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type_import](
	[Тип_продукции] [nvarchar](50) NULL,
	[Коэффициент_типа_продукции] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_import]    Script Date: 05.05.2025 13:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_import](
	[Тип_продукции] [nvarchar](50) NOT NULL,
	[Наименование_продукции] [nvarchar](100) NOT NULL,
	[Артикул] [int] NOT NULL,
	[Минимальная_стоимость_для_партнера] [float] NOT NULL,
	[Тип_материала] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Material_type_import] ([Тип_материала], [Процент_брака_материала]) VALUES (N'Тип материала 1', N'0,10%')
INSERT [dbo].[Material_type_import] ([Тип_материала], [Процент_брака_материала]) VALUES (N'Тип материала 2', N'0,95%')
INSERT [dbo].[Material_type_import] ([Тип_материала], [Процент_брака_материала]) VALUES (N'Тип материала 3', N'0,28%')
GO
INSERT [dbo].[Partner_products_import] ([Продукция], [Наименование_партнера], [Количество_продукции], [Дата_продажи]) VALUES (N'Паркетная доска Ясень темный однополосная 14 мм', N'База Строитель', 15500, CAST(N'2023-03-23' AS Date))
INSERT [dbo].[Partner_products_import] ([Продукция], [Наименование_партнера], [Количество_продукции], [Дата_продажи]) VALUES (N'Ламинат Дуб дымчато-белый 33 класс 12 мм', N'База Строитель', 12350, CAST(N'2023-12-18' AS Date))
INSERT [dbo].[Partner_products_import] ([Продукция], [Наименование_партнера], [Количество_продукции], [Дата_продажи]) VALUES (N'Ламинат Дуб серый 32 класс 8 мм с фаской', N'База Строитель', 37400, CAST(N'2024-06-07' AS Date))
GO
INSERT [dbo].[Partners_import] ([Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (N'ЗАО', N'База Строитель', N'Иванова Александра Ивановна', N'aleksandraivanova@ml.ru', N'493 123 45 67', N'652050, Кемеровская область, город Юрга, ул. Лесная, 15', 2222455179, 7)
INSERT [dbo].[Partners_import] ([Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (N'ООО', N'Паркет 29', N'Петров Василий Петрович', N'vppetrov@vl.ru', N'987 123 56 78', N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18', 3333888520, 7)
INSERT [dbo].[Partners_import] ([Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (N'ПАО', N'Стройсервис', N'Соловьев Андрей Николаевич', N'ansolovev@st.ru', N'812 223 32 00', N'188910, Ленинградская область, город Приморск, ул. Парковая, 21', 4440391035, 7)
GO
INSERT [dbo].[Product_type_import] ([Тип_продукции], [Коэффициент_типа_продукции]) VALUES (N'Ламинат', 2.35)
INSERT [dbo].[Product_type_import] ([Тип_продукции], [Коэффициент_типа_продукции]) VALUES (N'Массивная доска', 5.15)
INSERT [dbo].[Product_type_import] ([Тип_продукции], [Коэффициент_типа_продукции]) VALUES (N'Паркетная доска', 4.34)
GO
INSERT [dbo].[Products_import] ([Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера], [Тип_материала]) VALUES (N'Паркетная доска', N'Паркетная доска Ясень темный однополосная 14 мм', 8758385, 4456.9, N'Тип материала 1')
INSERT [dbo].[Products_import] ([Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера], [Тип_материала]) VALUES (N'Паркетная доска', N'Инженерная доска Дуб Французская елка однополосная 12 мм', 8858958, 7330.99, N'Тип материала 2')
INSERT [dbo].[Products_import] ([Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера], [Тип_материала]) VALUES (N'Ламинат', N'Ламинат Дуб дымчато-белый 33 класс 12 мм', 7750282, 1799.33, N'Тип материала 3')
GO
